div.navbar{
    width: 100%;
    height: auto;
    display: flex;
    padding-left: 10px;
    padding-right: 30px;
    align-items: center;
    justify-content: space-between;
}

button.add-btn{
    border: none;
    padding: 5px;
    color: white;
    border-radius: 5px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #235fe3;
}

a.add-recipe-link{
    color: white;
    text-decoration: none;
}