.details-page{
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url('../assets/stars.png');
}

.details-content{
    width: 80%;
    height: auto;
    padding: 20px;
    display: flex;
    border-radius: 8px;
    margin-bottom: 40px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.details-header{
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.principal-infos{
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.principal-infos .info{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.info p{
    margin-top: 10px;
}

.info .icon{
    margin-right: 10px;
}

.ingredients{
    width: 95%;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
}

.ingredient{
    height: auto;
    width: 200px;
    display: flex;
    flex-direction: row;
}

.ingredient input{
    width: 16px;
    margin-right: 10px;
}

.ingredient input:hover{
    cursor: pointer;
}

.ingredient input:checked + label{
    text-decoration: line-through;
}

.steps{
    width: 95%;
    display: flex;
    margin-top: 50px;
    text-align: left;
    flex-direction: column;
    justify-content: center;
}

.steps .step{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.step .number{
    width: 50px;
    height: 50px;
    display: flex;
    color: white;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgb(22, 22, 22);
}

.step p{
    width: 85%;
    text-align: left;
}

.details-content .details-footer{
    width: 100%;
    display: flex;
    margin-top: 30px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

button.delete{
    border: none;
    padding: 5px;
    color: white;
    border-radius: 5px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #e32e2e;
}